@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.design-logo-sec-head{

color: #323f4b;
font-family:"roboto";
font-size:50px;
text-align: center;
padding:20px;
font-weight: 500;

}
.design-logos-sec{
    background-color: #ffffff;
}
.design-logo-img{
    width:30%;
}
