@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.ecom-contact-us-sec{
    background-color: #f5f7fa;
   
}
.contact-us-heading{
    color:#183b56;
    font-size:50px;
    font-family:"roboto";
    font-weight:900;
}
.contactus-btn{
    color:#ff9f00;
    border-color:#ff9f00;
    border-radius:20px;
    border-width:1px;
    border-style: solid;
    background-color: #f5f7fa;
    width:170px;
    height:50px;
    font-size:20px;
    font-family:"roboto";

}