@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
#navitem1{
    color:#323f4b;
    font-family:"roboto";
}
#navitem2{
    color:#323f4b;
    font-family:"roboto";
}
#navitem3{
    color:#323f4b;
    font-family:"roboto";
}
#navitem4{
    color:#323f4b;
    font-family:"roboto";
}
.logo-img{
    width:70px;
    height:70px;
}
.food-munch-banner-bg{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height:100vh;
    background-size:cover;
}
.banner-heading{
    color:#ffffff;
    font-size:45px;
    font-weight:500;
    font-family:"roboto";
}
.banner-para{
    color:#ffffff;
    font-size:30px;

    font-family:"roboto";
}
.custom-view-more{
    width:100px;
    height:40px;
    border-width:0px;
    border-radius:9px;
    background-color:#d0b200;
    margin-right:10px;

}
.custom-order-now{
    color:#d0b200;
    background-color:transparent;
    border-width:1px;
    border-radius:9px;
    width:100px;
    height:40px;
    border-style:solid;
    border-color:#d0b200;
}


.wcu-section-container{
    background-color:#f9fbf9;
    padding:20px;
}
.wcu-heading{
    color:#183b56;
    font-family:"roboto";
    font-size:40px;
    font-weight:700;

}
.wcu-description{
    color:#5a7184;
    font-family:"roboto";
    font-size:40px;
}
.card-container{
    background-color:#ffffff;
    text-align:center;
    border-width:1px;
    border-color:#e5eaf4;
    border-radius:10px;
    border-style:solid;
    

}footer-img
.wcu-card-des{
    color:#7b8794;
    font-family:"roboto";
    font-size:20px;

}
.offers{
    color:#323f4b;
    font-style:italic;
    font-weight:800;
}
.explore-menu-sec{
    background-color: #ffffff;
}
.explore-menu-head{
    color:#183b56;
    font-size:50px;
    font-weight: 700;
    font-family: "roboto";
}
.exp-card-container{
    border-radius:60px;

}
.explore-img{
    width:100%;
    border-radius:10px;

}
.exp-sub-head{ 
    color:#323f4b;
    font-size:40px;
    font-weight:700;
}

.exp-anchor{
    color:#d0b200;
    font-size:25px;

}
.healty-food-sec{
    background-color:#f9fbfe;

}
.healty-img{
    width:100%;
}
.healty-head{
    color:#183b56;
    font-family:"roboto";
    font-size:35px;
    font-weight:700;
}
.healthy-para{
    color:#5a7184;
    font-family:"roboto";
    font-size:25px;
}
.healthy-button{
    background-color:#d0b200;
    color:#ffffff;
    border-radius:10px;
    border-width:0px;
    width:130px;
    height:50px;

}
.delivary-pay-sec{
    background-color:#f9fbfe;}

.delivary-img{
    width:100%;
}
.delivary-head{
    color:#183b56;
    font-family:"roboto";
    font-size:35px;
    font-weight:700;
}
.delivary-para{
    color:#5a7184;
    font-family:"roboto";
    font-size:25px;
}
.delivary-button{
    background-color:#d0b200;
    color:#ffffff;
    border-radius:10px;
    border-width:0px;
    width:130px;
    height:50px;

}
.payment-img{
    width:100px;
    height:100px;
    margin-right:30px;
}
.thanking-section{
    background-color:#d0b2001a ;
}
.thanks-head{
    color:#183b56;
    font-size:40px;
    font-family:"roboto";
    font-weight:700;
}
.thanks-des{
    color: #5a7184;
    font-size:30px;
    font-family:"roboto";
}
.thanks-gift{
    width:100%
}
.thanks-btn{
    background-color:#d0b200;
    color:#ffffff;
    border-radius:10px;
    border-width:0px;
    width:130px;
    height:50px;
    
}
.follow-us-section{
    background-color: #ffffff;
    height:70vh;
}
.follow-us-heading{
    color:#183b56;
    font-family:"roboto";
    font-size:50px;
    text-align: center;
    font-weight:800;
}
.follow-us-img{
   color: #d0b200;
   font-size:35px;


}
.fllow-us-bg{
    background-color:#faf7e8;
    width:80px; 
    height:80px;   
    border-radius:40px;
    margin:15px;
    padding-top:22px;
    padding-right:15px;
    padding-bottom:15px;
    padding-left:20px; 
}
.footer-sec{
    background-color:#183b56;
    background-size: cover;
    height:70vh;
}
.footer-img{
    width:150px;
    height:150px;
    padding-bottom:20px;
}
.footer-mail{ 
    color:#959ead;
    font-size:20px;
    font-family:"roboto";
    font-weight:600;
}
.footer-address{ 
    color:#959ead;
    font-size:20px;
    font-family:"roboto";
}

