.bg-containar {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    background-size: cover;
   
}

.heading {
    background-color: #323f4b;
    text-align: center;
    color: white;
    padding: 10px;
}

.msg-sent {
    background-color: #47a3f3;
    text-align: right;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.msg-recived {
    background-color: #52606d;
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}