@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.port-logo{
    font-size:30px;
    font-family:"roboto";
    font-weight:700;
    border-width:2px;
    border-style:solid;
    border-color:#4b6cc1;
   
    padding-left:10px;
    padding-right:10px;

}
.portfolio-banner-sec{
    background-color:#191a1d;
   height:100vh; 
   
}
.portfolio-bg-img{
    width:200px;
    margin-bottom:10px;
   
}
.banner-head{
    color:#ffffff;
    font-family:"roboto";
    font-size:40px;
    font-weight:400;
}
#jenny{
    color:#4b6cc1;
}
.banner-para{
    color:#9aa5b1;
    font-family:"roboto";
    font-size:30px;
}
.custom-btn{
    color:white;
    background-color:#4b6cc1;
    width:130px;
    height:45px;
    border-width:0px;
    border-radius:10px;
}